body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .navbar {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    height:60px;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;

  }
  
  .logo {
  
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px;
   margin-right: 200dvh;
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: -50px;

  
  }
  
  .nav-list li {
    margin-right: 20px;
    margin-bottom: 500vh;
 
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10dvh;

  }
  

  .weather-form {
    margin-bottom: 20px;
    margin-left: 300px;
  }
  
  .weather-form input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
  }
  
  .weather-form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 230px;
    margin-top: -40px;
    display:flex;
  }
  
  .weather-form button:hover {
    background-color: #0056b3;
  }
  




  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
  }
  
  #weather-result {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  